<footer class="footer-distributed navbar fixed-bottom" >
	        	<div class="footer-right">

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>
			</div>

		<divclass="footer-left">

			<h3>Rat<span>Woods</span></h3>


			<p class="footer-links">
				<%= link_to "Home", root_path, class: "page-scroll" %>
				·
				<%= link_to "About Us", pages_about_path, class: "page-scroll" %>
				·
				<%= link_to "Contact Us", pages_contact_path, class: "page-scroll" %>
			</p>


			<p class="footer-company-name">RatWoods &copy; 2020</p>



			
		</div>


	
</footer>

